@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  body {
    color: #fff;
    font-family: sans-serif;
    
    
  }
  
  .hero {
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(59, 14, 221, 0.4) 0%, rgba(7, 106, 164, 0.3) 100%), url(https://img.freepik.com/premium-photo/impact-controversy-deepfakes_810293-113625.jpg?size=626&ext=jpg); /* radial scrim and background image */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .hero-title {
    margin: 0;
    font-size: calc(16px + 5vw);
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  
  .hero-content {
    font-size: calc(16px + 1vw);
  }
  body{
    background: rgba(0,0,0,0.9);
  }
  .about {
    height: 50vh;
    width: 100vw;
    padding: 100px;
    background-color: rgb(48, 34, 34);
  }
  
  .about h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fbfbfb;
    font-family: "Libre Baskerville", serif;
  }
  
  .about .description {
    display: flex;
    align-items: start;
  }
  
  .about .description .line {
    height: 2.5px;
    width: 400px;
    background-color: #fec86a;
    margin-right: 32px;
  }
  
  .about .description p {
    color: #fbfbfb;
    font-size: 20px;
  }
  
  .about .description p span {
    color: #fec86a;
  }
  .list-team-members {
    max-width: 1000px;
    padding: 0px;
    margin: 0px auto;
  }
  .list-team-members li {
    padding: 0px;
    margin: 20px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    transition-duration: .3s;
  }
  .list-team-members li a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #FF7A28;
    transition-duration: .3s;
  }
  .list-team-members li a:hover {
    transform: scale(1.1, 1.1);
  }
  .list-team-members li a:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    background-color: rgba(255,122,40,.2);
    border-radius: 50%;
    opacity: 0;
    transition-duration: .3s;
  }
  .list-team-members li a:hover:after {
    opacity: 1;
  }
  .list-team-members li img {
    object-fit: cover;
    object-position: center center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition-duration: .3s;
  }
  .list-team-members li .member-title {
    display: block;
    margin-bottom: 10px;
  }
  .list-team-members li .member-title-hover {
    text-align: center;
    transition-duration: .3s;
    padding: 5px 10px;
    background: #FF7A28;
    color: #FFFFFF;
    z-index: 2;
  }
  .list-team-members li a:hover .member-title-hover {
    opacity: 1;
    top: 90px;
  }
  .mb-1 span{
    color: black;
  }